# Python
*.pyc
__pycache__/

# Environments
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Static files
staticfiles/