{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        NavBar
    </nav>
</header>

<main>
    {% block content %}
        <!-- Main content will be injected here -->
    {% endblock %}
</main>

<footer>
    <div class="footer">
        Footer
    </div>
</footer>
</body>
</html>